.sidebar {
  width: 300px;
  margin-right: 30px;
  box-shadow: 0px 0px 10px #e2e2e2;
  border-radius: 10px;
  padding: 20px;
}

.sidebar div {
  display: flex;
  align-items: center;
  color: var(--color_primary);
  margin-bottom: 15px;
}

.sidebar div svg {
  font-size: 1.6rem;
  margin-right: 5px;
}

.sidebar div span {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
}

.sidebar p {
  font-size: 20px;
}

.sidebar button {
  width: 100%;
  margin-top: 40px;
  background-color: var(--color_main);
  color: #fff;
  border: 2px solid var(--color_main);
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .sidebar {
    width: 100%;
  }
}
