.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color_main);
  color: #fff;
  padding: 20px 30px;
  margin: 0 10px 60px;
  border-radius: 50px;
}

.header a {
  font-size: 1.5rem;
  font-weight: 600;
}

.headerBtn {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;
}

.headerBtn span {
  font-size: 0.9rem;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: 27px;
}

.shopBasketBtn {
  font-size: 1.6rem;
  background-color: #fff;
  text-align: center;
  color: #888;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  padding: 4px;
}

.loginBtn {
  font-size: 1.6rem;
  font-weight: 900;
  background-color: #fff;
  text-align: center;
  color: #888;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  padding: 4px;
}

.logout {
  width: 400px;
  height: 80px;
  padding: 10px;
  box-shadow: 0px 0px 10px #aaa;
  border-radius: 10px;
  position: absolute;
  background-color: #fff;
  color: black;
  top: 50px;
  right: 10px;
  transition: all 0.3s;
  display: none;
}

.showLogout {
  display: inline-block !important;
}

.logout button {
  font-size: 14px;
  width: fit-content;
  height: fit-content;
  padding: 7px 10px;
  background-color: var(--color_primary);
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.logout button:hover {
  border: 1px solid var(--color_primary);
  color: var(--color_primary);
  background-color: #fff;
}

.footer {
  text-align: center;
  background-color: var(--color_main);
  padding: 20px;
  margin: 10px;
  margin-top: 80px;
  border-radius: 50px;
  color: #fff;
}
